.list-menu li{
    border-bottom: 1px solid transparent;
}
li.selectedCat{
    border-bottom: 1px solid #007bff;
}
li.selectedCat a{
    color: #007bff;
}

.Screen-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.84);
    z-index: 10000;
    display: none;
}
.Screen-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}

.Screen-loading {
    position: fixed;
    z-index: 100001;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #fff;
    display: none;
}
.Screen-loading.is-visible {
    display: block;
}

.pagination{
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination > li{}
.pagination > li > a{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination > li > a:hover{
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination > li > span{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination > li.disabled{
    color: #6c757d;
}
.pagination > li.disabled a{
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.pagination > li.active{}
.pagination > li.active a{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


.cart-el{
    position: relative;
}
.cart-popover{
    position: absolute;
    top: 63px;
    z-index: 100;
    right: 0;
}

.table-shopping-cart.table td{
    padding: 3px;
}